/* ==========================================================================
   Global Overrides
  ========================================================================== */


* {
  box-sizing: border-box;
/*   border: 1px solid red; */
}

.clearfix:after {
  display: table;
  clear: both;
  content: "";
}

a {
   font-family: 'Oswald', sans-serif; 
   text-decoration: none;
   color:white;
  /* Set some default styles for anchors (color, text decoration) */
}
/* ==========================================================================
   Author's custom styles
  ========================================================================== */

/* 
    SITE COLORS for your reference:
    (refer to styleguide.jpg for hex codes or use Sip to pick colors from design)

    White - #ffffff;
    Light Grey -
    Dark Grey -
    Grey/Black(text color) -
    Yellow -
    Red -

    font-family: 'Oswald', sans-serif;  
    font-family: 'Source Sans Pro', sans-serif;
    font-family: 'Merriweather', serif;
*/


/* Global
   ================================================================ */
body {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 20px;
  margin: 0;
  background-color: #3c3a3a;
}


.button{
   text-transform: uppercase;
}

/* Text Styles (a, a:hover, a:visited, a:active, p, h1, h2, h3, h4, etc.)
   ================================================================ */
/*header{
  width: 100%;
  background-color: #3c3a3a;
  margin: 0;
  padding-left: 20px;
}*/


/*NAVIGATION BAR AND HEADER*/

nav{
  position: relative;
}

ul{
  margin:0;
}

li{
display:inline;
padding:10px;

}
header{
  position: relative;
  height: 63px;
}

h1 a{
  font-family: 'Merriweather', serif;
  display: inline;
  /*padding-left: 30px;*/
  font-size: 30px;
  display: inline;
  position: absolute; 
  left:30px;
  bottom: 13px;
}

h1{
  display: inline-block;
}

nav{
  position: absolute;
  bottom: 16px;
  right:10px;
}
.dev a{
  font-size: 20px;
  text-transform: uppercase;
}


.linky a{
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 20px;
/*  padding: 15px;*/
}

/*TWO HEADS SECTION*/

.tagline{
  clear:both;
  display:block;
  text-align: center;
  font-family: 'Merriweather', serif;
  font-style: italic;
  font-weight: bold;
  font-size: 25px;
  padding-bottom: 15px;
  padding-top: 15px;
  margin: 0;
  background-color: #d4e1db;
  border-top: 5px solid #f4d442;
}

/*MEET YOUR MATCH SECTION*/

h2{
  margin:0px;
}



.banner{
    height: 400px;
    background-image: url("../images/coworking.jpg");
    background-color: #cccccc;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    position: relative;

}
.blurb{
  width: 40%;
  height: 300px;
  background-color: rgba(255,255,255,0.5);
  padding:20px;
  padding-left: 50px;
  padding-right: 50px;
/*  margin:20px;*/
  border:solid 1px black;
  display:inline-block;
  right: 50px;
  position: absolute;
  right: 30px;
  top: 50px;
}

section{
  clear:left;
}

.blurb .button{
  background-color: #ff0121;
  display: inline-block;
  padding: 10px 30px 10px 23px;
  text-align: center;
  width: 100%;
}



/*START YOUR SEARCH/SIGN UP*/


.boxes{
  background-color: white;
  padding-left: 20px;
}


.info h3{ 
  font-family: 'Merriweather', serif; 
}

.info .button{
  background-color: #d4e1db;
  display: inline-block;
  padding-top: 10px;
  padding-bottom: 10px;
  width: 100%;     
  text-align: center;
  color: black;
}


.info{
  display: inline-block;
  width: 30%;
  float: left;
}

.info{
  background-color: white;
  margin: 20px;
  display: inline-block;
  width: 28%;
}

/*FOOTER*/




footer{
  clear:left;
  padding:10px;
  background-color: #3c3a3a;
  font-size: 20px;
  color: white;
}

footer p{
  margin:0px;
}

/* Navigation
   ================================================================ */



/* Buttons
   ================================================================ 